.recipe-list-container {
    margin-right: 25px;
    width: 100%;
    .recipe-list-wrapper{
        width: 100%;
        .item-wrapper{
            display: flex;
            width: 100%;
            .recipe-text-details-wrapper {
                width: 100%;
                p {
                    margin-bottom: 5px;
                }
            }
            .recipe-image-wrapper {
                img {
                    width: 70px;
                    height: auto;
                }
            }
        }

    }
}